html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

.site-content {
	padding-top: 96px;
	@include md {
		padding-top: 133px;
	}
}

.post-type-archive-recipes, .post-type-archive-weaning {
	.site-content {
		.container-fluid:nth-child(odd) {
			background: #f6f5f3;
		}
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

.h2_wrapper {

	background: #E36386;

	.container {
		background-image: url('images/birds-and-bees.svg');
		background-repeat: no-repeat;
		background-position: center right;
	}

	h1 {
		font-family: $font__headings;
		color: #fff;
		margin: 0;
		padding: 30px 15px;
		@include md {
			padding: 60px 15px;
		}
	}
	h2 {
		font-family: $font__headings;
		color: #fff;
		margin: 0;
		padding: 30px 15px;
		@include md {
			padding: 60px 15px;
		}
	}
}

.rotate-180 {
  transform: rotate(-180deg);
	transform-origin: center center;
}

.share {
	text-align: center;
	display: block;
	margin-bottom: 50px;
	&:first-of-type {
		span {
			display: inline-block;
			padding-right: 15px;
		}
	}
	span {
		display: none;
	}
	&__popovers {
		height: 30px;
		width: 30px;
	}
	a {
		text-decoration: none !important;
	}
}

.site-content {
	a {
		text-decoration: underline;
	}
}

.social-bar {
  position: fixed;
  top: 50%;
	left: 25px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
	z-index: 9999;
	a {
	  display: block;
	  text-align: center;
	  padding: 16px;
	  transition: all 0.3s ease;
	  color: white;
	  font-size: 20px;
		svg {
			transform: rotate(-90deg);
		}
	}
}

.filter {

	background: #F6F5F3;
	padding: 25px 15px;
	@include md {
		padding: 40px 15px;
	}

	&_options {
		.dropdown-menu {
			a {
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	&_search {
		text-align: right;
		form {
			width: 100%;
			input[type="search"] {
				padding: 5px;
				border: .5px solid #707070;
				font-weight: $soleilBd;
			}
			.search-submit {
				background-color: #8AC168;
				color: #fff;
				padding: 5px 15px;
			}
		}
	}

	.dropdown.open {
		img {
			transform: rotate(180deg);
		}
		.dropdown-menu {
			width: 100%;
		}
	}

	a.dropdown-toggle {
		text-align: left;
		width: 100%;
		background: #fff;
		padding: 5px 15px 10px;
		border-radius: 0;
		border: .5px solid #4A4F54;
		color: #000;
		text-decoration: none;
		font-weight: $soleilBd;
		img {
			padding-top: 8px;
			transition: .5s;
			float: right;
		}
	}

}

.recipes {
  padding-top: 25px;
  padding-bottom: 25px;
	.archive-description {
		display: none;
	}
  h1, h2, h3 {
    font-family: $font__headings;
    text-align: center;
    color: #000;
    font-weight: $soleilBd;
    font-size: 32px;
    margin-bottom: 25px;
  }
  &__cat {
    text-transform: uppercase;
    margin-bottom: 0;
  }
  &__recipe {
    margin-bottom: 15px;
    img {
      text-align: center;
      display: block;
      // width: 100%;
      margin-bottom: 15px;
      // height: 400px;
			transition: .5s;
			&:hover {
				transform: scale(1.05);
			}
    }
    a {
      display: block;
      color: #000;
      text-decoration: none;
      font-size: 18px;
      font-weight: $soleilSb
    }
		h2, h3 {
			font-family: $font__headings;
	    text-align: left;
	    color: #000;
	    font-weight: $soleilBd;
	    font-size: 26px;
	    margin-bottom: 15px;
			margin-top: 0;
		}
  }
	a.watch {
		text-align: center;
		background: #000;
    color: #fff;
    padding: 5px 15px;
    font-weight: 700;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: none;
		@include sm {
			background: #FFB71E;
		}
		&:hover {
			background: #E36386;
		}
  }
}



.vert-align {
	@include md {
		position: absolute;
		top: 50%;
		width: calc(100% - 30px);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

@import "tables";
