html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

.site-content {
	padding-top: 96px;
	@include md {
		padding-top: 133px;
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

.h2_wrapper {
	padding: 60px 15px;
	background: #8AC168 url(images/lunch-recipes_bg.svg) center right no-repeat;
	background-attachment:fixed;
	h2 {
		font-family: $font__headings;
		color: #fff;
		margin: 0;
	}
}

.share {
	text-align: center;
	display: block;
	margin-bottom: 50px;
	&:first-of-type {
		span {
			display: inline-block;
			padding-right: 15px;
		}
	}
	span {
		display: none;
	}
	&__popovers {
		height: 30px;
		width: 30px;
	}
}

.site-content {
	a {
		text-decoration: underline;
	}
}

.social-bar {
  position: fixed;
  top: 50%;
	left: 25px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
	z-index: 9999;
	a {
	  display: block;
	  text-align: center;
	  padding: 16px;
	  transition: all 0.3s ease;
	  color: white;
	  font-size: 20px;
		svg {
			transform: rotate(-90deg);
		}
	}
}

.filter {

	background: #F6F5F3;
	padding: 50px 15px;

	&_options {

	}

	&_search {
		text-align: right;
		form {
			width: 100%;
			input[type="search"] {
				padding: 5px;
				border: .5px solid #707070;
			}
			.search-submit {
				background-color: #8AC168;
				color: #fff;
				padding: 5px 15px;
			}
		}
	}

}

.recipes {
  padding-top: 25px;
  padding-bottom: 25px;
  h3 {
    font-family: $font__headings;
    text-align: center;
    color: #000;
    font-weight: $soleilBd;
    font-size: 32px;
    margin-bottom: 25px;
  }
  &__cat {
    text-transform: uppercase;
    margin-bottom: 0;
  }
  &__recipe {
    margin-bottom: 15px;
    img {
      text-align: center;
      display: block;
      // width: 100%;
      margin-bottom: 15px;
      // height: 400px;
    }
    a {
      display: block;
      color: #000;
      text-decoration: none;
      font-size: 18px;
      font-weight: $soleilSb
    }
  }
	a.watch {
		text-align: center;
		background: #000;
    color: #fff;
    padding: 5px 15px;
    font-weight: 700;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: none;
		@include sm {
			background: #FFB71E;
		}
		&:hover {
			background: #E36386;
		}
  }
}

.videos {
  padding-top: 25px;
  padding-bottom: 25px;
	&_wrapper {
		margin-bottom: 50px;
	}
	&_feat {
		margin-bottom: 15px;
	}
  h3 {
    font-family: $font__headings;
    text-align: center;
    color: #000;
    font-weight: $soleilBd;
    font-size: 32px;
    margin-bottom: 25px;
  }
	p {
		margin: 0 0 10px;
	}
  a.watch {
		text-align: center;
		background: #000;
    color: #fff;
    padding: 5px 15px;
    font-weight: 700;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: none;
		@include sm {
			background: #FFB71E;
		}
		&:hover {
			background: #E36386;
		}
  }
}

.vert-align {
	@include md {
		position: absolute;
		top: 50%;
		width: calc(100% - 30px);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

@import "tables";
