# ignore everything in the root except the "wp-content" directory.
!wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/


/wp-includes
/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

/wp-config.php

# ignore log files and databases
*.log
*.sql
*.sqlite

# ignore these plugins
wp-content/plugins/hello.php

# ignore sass-cache
.sass-cache
_sass

# ignore node dependency directories
node_modules/
