.post-type-archive-mealplanner, .page-template-page-planner, .single-mealplanner {
  .h2_wrapper {
    background: $blfblue !important;
  }
  form .search-submit {
    background: $blforange !important;
  }
}

.planner {
  padding-bottom: 25px;
  border-top: 1px solid #E9E9EA;
  h1 {
    font-family: $font__headings;
    text-align: center;
    color: #000;
    font-weight: $soleilBd;
		font-size: 28px;
		margin-top: 30px;
		margin-bottom: 0;
		@include md {
			font-size: 40px;
			margin-top: 35px;
		}
  }

  h2 {
    color: $blfblue;
    font-family: $font__headings;
    font-size: 24px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 35px;
    font-weight: $soleilBd;
  }

  h3 {
    font-size: 18px;
    text-align: center;
    font-weight: $soleilBd;
  }

  a.watch {
		text-align: center;
		background: #000;
    color: #fff;
    padding: 5px 35px;
    font-weight: 700;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: none;
		@include sm {
			background: #FFB71E;
		}
		&:hover {
			background: #E36386;
		}
  }

  &_content {
    text-align: center;
    p {
      line-height: 1.5em;
    }

    hr {

      margin-bottom: 5px;

    }
  }
  &-grid {

    &.planner-grid__header {
      border-bottom: none;
    }

    padding-left: 15px;
    padding-right: 15px;
    // margin-bottom: 50px;
    border-bottom: 1px solid #E9E9EA;
    border-left: 1px solid #E9E9EA;
    border-right: 1px solid #E9E9EA;

    &__header {
      border-top: 1px solid #E9E9EA;
    }


    &_day {
      padding-left: 7.5px !important;
      padding-right: 7.5px !important;
      text-align: center;
      margin-top: 15px;
      @include md {
        height: 185px;
        padding-left: 0px !important;
        padding-right: 10px !important;
      }
      @include lg {
        width: 12.33333% !important;
        font-size: 18px;
      }

      .vert-align {
        width: 100%;
      }
    }

    &_breakfast {
      padding-top: 15px;
      padding-left: 10px !important;
      padding-right: 5px !important;
      padding-bottom: 10px !important;
    }

    &_lunch, &_dinner, &_snack {
      padding-top: 15px;
      padding-left: 5px !important;
      padding-right: 5px !important;
      padding-bottom: 10px !important;
    }
    &_head {

      padding-left: 5px !important;
      padding-right: 5px !important;

      &.snack {

        @include md {
          border-right: 1px solid #E9E9EA;
        }

      }

      &.notes {
        text-align: left;
        @include lg {
          width: 21%;
        }

        &__wrapper {
          text-align: left;
        }

      }

      &__wrapper {
        font-size: 22px;

        @include md {
          font-size: 16px;
        }
        margin-top: 10px;
        background: $blfblue;
        font-family: $font__headings;
        color: #fff;
        text-align: center;
        padding: 10px;
        margin-bottom: 10px;

      }
    }
    img {
      display: block;
    }
    line-height: 1.2em;
    a {
      color: #000;
      text-decoration: none;
      font-size: 15px;
      font-weight: 600;
      &:hover {
        color: $blfblue;
      }
    }
    a.title {
      padding-top: 5px;
      padding-bottom: 5px;
      display: block;
    }
    &_day {
      @include md {
        padding-top: 10px;
        background: $blfblue;
      }
      text-align: center;
      font-family: $font__headings;
      color: #fff;
      font-size: 14px;
      &__wrapper {
        @include lg {
          width: 12.33333% !important;
        }
      }
      @include lg {
        width: 12.33333% !important;
        font-size: 18px;
      }
    }
    &_snack {
      border-right: 1px solid #E9E9EA;
      padding-left: 7.5px;
      padding-right: 7.5px;
    }
    &_note {
      @include lg {
        width: 21% !important;
      }
      color: $blfblue;
      padding: 15px 15px;
      font-size: 15px;
    }
  }
  .single-recipe__tips {
    margin-top: 25px;
  }
}
